body,
p,
.rlc-creative_v3 .rlc-dek,
.rlc-creative_v3 .rlc-sub {
  font-family: 'Khula', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.200em;
  letter-spacing: 0.125em;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.rlc-creative_v3 .rlc-title {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.200em;
  letter-spacing: 0.125em;
  margin: 0 auto;
}

.button {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 0.813em;
  text-transform: uppercase;
  letter-spacing: 0.231em;
}

.silver {
  color: #C5C1C0;
}

.dark-green {
  color: #0A1612;
}

.gunmental {
  color: #1A2930;
}

.marigold {
  color: #F7CE3E;
}

.rlc-creative_v3 {
  background: #C5C1C0;
  overflow: unset;
  min-height: calc(100vh - 40px);
  position: relative;
  background: var(--bg);
  transition: background 1s cubic-bezier(.165, .84, .44, 1);
}

#rlc-navbar {
  overflow: hidden;
  background-color: rgba(26, 41, 48, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#rlc-navbar .rlc-in {
  padding: 1em 4em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#rlc-navbar .rlc-nav {
  font-weight: 400;
  color: #C5C1C0;
  text-decoration: none;
  transform: color 250ms ease-in-out;
}

#rlc-navbar .rlc-nav:hover {
  font-weight: 700;
  color: #F7CE3E;
  transform: color 250ms ease-in-out;
}

#rlc-intro {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#rlc-intro .rlc-col-cg {
  width: 40%;
}

#rlc-intro .rlc-col-cg .rlc-copygroup {
  padding-left: 2.5em;
}

#rlc-intro .rlc-col-cg .rlc-title {
  font-size: 4.00em;
  color: #0A1612;
}

#rlc-intro .rlc-col-cg .rlc-title:hover {
  font-size: 4.00em;
  color: #0A1612;
}

#rlc-intro .rlc-col-cg .rlc-sub {
  font-size: 5em;
  text-transform: uppercase;
  margin: 0 0 0 auto;
  text-align: right;
  color: #1A2930;
}

#rlc-intro .rlc-col-img {
  width: 60%;
}

#rlc-intro .rlc-col-img .rlc-block {
  padding-right: 2.5em;
}

#rlc-intro .rlc-imagery {
  margin: 0 auto;
  width: 80%
}

#rlc-intro .rlc-imagery .rlc-image {
  height: auto;
}

#rlc-intro .rlc-pic-me {
  width: 34%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
