*,
:after,
:before {
  box-sizing: border-box
}

main:focus {
  outline: none
}

html {
  -webkit-font-smoothing: antialiased
}

html:after,
html:before {
  content: "";
  will-change: top left;
  backface-visibility: hidden;
  position: fixed;
  top: 0;
  height: 100%;
  width: 20px;
  background: #FFFFFF;
  z-index: 21000
}

html:before {
  left: 0
}

html:after {
  right: 0
}

body {
  background: #FFFFFF;
  min-height: calc(100vh - 40px);
  position: relative;
  padding: 20px;
  overscroll-behavior: none;
  height: 100vh;
}

body:after,
body:before {
  content: "";
  will-change: top left;
  backface-visibility: hidden;
  position: fixed;
  left: 0;
  width: 100%;
  height: 20px;
  background: #FFFFFF;
  z-index: 20000
}

body:before {
  top: 0;
}

body:after {
  bottom: 0;
  top: auto !important;
}

body.lock-scroll,
html.lock-scroll {
  overflow: hidden
}

body:after, body:before {
  content: "";
  will-change: top left;
  backface-visibility: hidden;
  position: fixed;
  left: 0;
  width: 100%;
  height: 20px;
  background: #FFFFFF;
  z-index: 20000;
}

.rlc-page-wrapper {
  min-height: calc(100vh - 40px);
  position: relative;
  background: #DFDCE3;
  overflow: hidden;
  transition: background 1s cubic-bezier(.165, .84, .44, 1)
}

html, body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

body,
p,
.rlc-creative_v3 .rlc-dek,
.rlc-creative_v3 .rlc-sub {
  font-family: 'Khula', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.200em;
  letter-spacing: 0.125em;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.rlc-creative_v3 .rlc-title {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.200em;
  letter-spacing: 0.125em;
  margin: 0 auto;
}

.button {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 0.813em;
  text-transform: uppercase;
  letter-spacing: 0.231em;
}

.white {
  color: #FFFFFF;
}

.grey {
  color: #DFDCE3;
}

.blue {
  color: #465C8B;
}

.green {
  color: #93C178;
}

.yellow {
  color: #F7EF6A;
}

.rlc-creative_v3 {
  background: #DFDCE3;
  overflow: unset;
}

.rlc-page-wrapper {}

#rlc-navbar {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 50000;
}

#rlc-navbar .rlc-in {
  padding: 1em 4em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#rlc-navbar .rlc-nav {
  font-weight: 400;
  color: #46344E;
  text-decoration: none;
  transform: color 250ms ease-in-out;
}

#rlc-navbar .rlc-nav:hover {
  font-weight: 700;
  color: #F7EF6A;
  transform: color 250ms ease-in-out;
}

#rlc-intro {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#rlc-intro .rlc-col-cg {
  width: 40%;
}

#rlc-intro .rlc-col-cg .rlc-copygroup {
  padding-left: 2.5em;
}

#rlc-intro .rlc-col-cg .rlc-title {
  font-size: 4.00em;
  color: #465C8B;
}

#rlc-intro .rlc-col-cg .rlc-title:hover {
  font-size: 4.00em;
  color: #93C178;
}

#rlc-intro .rlc-col-cg .rlc-sub {
  font-size: 5em;
  text-transform: uppercase;
  margin: 0 0 0 auto;
  text-align: right;
  color: #465C8B;
}

#rlc-intro .rlc-col-img {
  width: 60%;
}

#rlc-intro .rlc-col-img .rlc-block {
  padding-right: 2.5em;
}

#rlc-intro .rlc-imagery {
  margin: 0 auto;
  width: 80%
}

#rlc-intro .rlc-imagery .rlc-image {
  height: auto;
}

#rlc-intro .rlc-pic-me {
  width: 34%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
