.rlc-lasts {
  padding: 2.5em 0;
}

.rlc-lasts .rlc-copygroup .rlc-pic-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rlc-lasts .rlc-copygroup .rlc-pic-me {
  width: 33.33%;
  margin: 0.5em;
}
